@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to medchart</h1>
    <p>Please 
        <a asp-area="Identity" asp-page="/Account/Login">Login</a> or 
        <a asp-area="Identity" asp-page="/Account/Register">Register</a> 
        to see your blood work.</p>
</div>
